@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 3px;
  border-radius: 4px;
}

@media (hover: hover) {
  a:hover {
    /* background-color: color-mix(
      in srgb,
      var(--color-link) 20%,
      transparent
    ); */
  }
}
